*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, pink, yellow);
}

#main-heading{
  margin-top: 20px;
  text-align : center;
  padding-bottom: 30px;
  font-size: 40px;
}

#task-heading{
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 15px;
  font-size: 30px;
}

#input-txt {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

button {
  margin-left: 30px;
 width: 100px; 
 height: 40px;
 padding: 10px;
 background-color: pink;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#add-button{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: large;
}

button:hover {
  background-color: hotpink;
  transform: scale(1.05);
}

#delete-button{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: large;
  cursor: pointer;

}

#todo-container{
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Molle", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 
}

#show-date{
  border-radius: 30px;
  background-color: deeppink;
  height: 15px;
  width: 15px ;
  padding: 10px;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition:transform 1s ease;
  vertical-align: center;
  align-items: center;
  
}

#show-date i{
  vertical-align: center;
 font-size: 18px;
}

#show-date {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.date-text{
  opacity: 0;
  transform: translateX(-10px);
  transition: all 1s ease;
}

#show-date.active{
  transform: translateX(20px);
  width: 200px;
 
}
#show-date.active .date-text{
  opacity: 1;
  transform: translateX(0);
}


#take-task .input-text {
  margin-top: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  width: 350px;
  padding:  10px;
  height: 20px;
  font-family: "Josefin Sans", sans-serif; 
}

#input-container #delete-button {
  display: flex;
  gap: 0px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

#input-container {
  display: flex;
  justify-content: space-between;
  
  width: 300px;   
  margin-right: 10px auto;
}